<article class="container">
  <div class="user__picture">
  </div>
  <div class="user__body">
    <%= link_to user_path(user.id) do%>
      <div class="user__name">
        <%= user.name %>
      </div>
    <% end %>
    <div class="user__posts-count">
      <%=t('.number_of_posts')%>: <%= user.posts_counter %>
    </div>
  </div>
</article>
