<%= render partial: 'users/user', locals: { user: @user } %>

<%= render partial: 'post', collection: @posts, locals: {truncated_message: true, show_lasts_comments: true} %>

<button>Pagination</button>

<%= link_to user_path(@user.id) do %>
  <button>Go back</button>
<% end %>